.auth-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.auth-box {
    width: 350px;
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 12px;
}

.auth-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-box form {
    display: flex;
    flex-direction: column;
}

.auth-box label {
    margin-top: 10px;
    font-weight: bold;
}

.auth-box input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.auth-box button {
    margin-top: 20px;
    padding: 12px;
    background-color: #834602;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.auth-box button:hover {
    background-color: #592f02;
}

.success {
    color: green;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}
