body {
    margin: 0;
    padding: 0;
    background-color: #f3f0ea;
    color: #2c2c2c;
    font-family: 'Noto Serif JP', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #b7791f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #a7671c;
}
